@import 'variables.scss';
@import './header/header.scss';
@import './form/form.scss';
@import './rental/rental-listing.scss';
@import './rental/rental-detail.scss';

.clickable {
  &:hover {
    cursor: pointer;
  }
}

.page-title {
  font-size: 30px;
  font-weight: 700;
  color: coral;
  margin-bottom: 35px;
}

.apartment {
  color: #a72da3;
}

.house {
    color: #BF1818;
}

.condo {
    color: #d68000;
}

.btn-bwm {
  background-color: $main-color;
  border-color: $main-color;
  color: white;
  padding: 15px 30px;
  font-size: 20px; 

  &:hover, &:focus, &:active {
    border-color: $main-color !important;
    background-color: $main-color !important;
  }
}
