.navbar {
    padding: 20px;
    margin-bottom: 40px;
    background-color: $main-black-color;

    .bwm-search {
        height: 50px;
        width: 300px !important;
    }

    .navbar-brand {
        margin-right: 30px;
        font-size: 27px;
        letter-spacing: 1px;
        color: $main-color !important;
    }

    .nav-item {
        font-size: 14px;
    }

    .btn-bwm-search {
        border-color: $main-color;
        color: $main-color;

        &:hover, &:focus, &:active {
            background-color: transparent !important;
            border-color: $main-color !important;
            color: $main-color !important;
            box-shadow: none;
        }
    }

    .nav-item {
        color: $main-white-color;
    }
}