.navbar {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #202328; }
  .navbar .bwm-search {
    height: 50px;
    width: 300px !important; }
  .navbar .navbar-brand {
    margin-right: 30px;
    font-size: 27px;
    letter-spacing: 1px;
    color: #61dafb !important; }
  .navbar .nav-item {
    font-size: 14px; }
  .navbar .btn-bwm-search {
    border-color: #61dafb;
    color: #61dafb; }
    .navbar .btn-bwm-search:hover, .navbar .btn-bwm-search:focus, .navbar .btn-bwm-search:active {
      background-color: transparent !important;
      border-color: #61dafb !important;
      color: #61dafb !important;
      box-shadow: none; }
  .navbar .nav-item {
    color: #ededed; }

.bwm-form {
  color: #484848; }
  .bwm-form h1 {
    font-weight: 700;
    margin-bottom: 30px; }
  .bwm-form .image-container {
    position: relation; }
    .bwm-form .image-container img {
      width: 100%;
      border-radius: 5px; }
  .bwm-form label {
    fonst-size: 12px; }
  .bwm-form .form-text {
    font-size: 13px; }
  .bwm-form .catchphrase {
    text-align: center;
    font-size: 42px;
    position: absolute;
    color: #f1f1f1;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    letter-spacing: 1px; }
  .bwm-form .btn-form {
    margin-top: 15px; }

.bwm-res-errors {
  margin: 10px 0; }
  .bwm-res-errors p {
    margin-bottom: 5px; }

#rentalListing .title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px; }

#rentalListing .rental-detail-link:hover {
  text-decoration: none; }

#rentalListing .bwm-card {
  border: none; }
  #rentalListing .bwm-card .card-block {
    padding-top: 10 px; }
    #rentalListing .bwm-card .card-block .card-subtitle {
      margin: 0;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase; }
    #rentalListing .bwm-card .card-block .card-title {
      font-size: 19px;
      margin: 3px 0;
      color: #484848; }
    #rentalListing .bwm-card .card-block .card-text {
      font-size: 14px;
      font-weight: 300;
      color: #7e7e7e;
      margin-bottom: 0; }

#rentalDetails .upper-section {
  margin-bottom: 30px; }
  #rentalDetails .upper-section .img {
    width: 20%; }

#rentalDetails .details-section {
  color: #484848; }
  #rentalDetails .details-section .rental-type {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0; }
  #rentalDetails .details-section .rental-title {
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 700;
    color: crimson; }
  #rentalDetails .details-section .rental-city {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px; }
  #rentalDetails .details-section .rental-room-info {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px; }
    #rentalDetails .details-section .rental-room-info span {
      margin-right: 10px; }
    #rentalDetails .details-section .rental-room-info i {
      margin-right: 2px; }
  #rentalDetails .details-section .rental-description {
    font-weight: 300;
    margin-bottom: 30px; }
  #rentalDetails .details-section .rental-assets .title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700; }
  #rentalDetails .details-section .rental-assets span {
    display: block;
    margin-bottom: 15px;
    font-weight: 300; }

.clickable:hover {
  cursor: pointer; }

.page-title {
  font-size: 30px;
  font-weight: 700;
  color: coral;
  margin-bottom: 35px; }

.apartment {
  color: #a72da3; }

.house {
  color: #BF1818; }

.condo {
  color: #d68000; }

.btn-bwm {
  background-color: #61dafb;
  border-color: #61dafb;
  color: white;
  padding: 15px 30px;
  font-size: 20px; }
  .btn-bwm:hover, .btn-bwm:focus, .btn-bwm:active {
    border-color: #61dafb !important;
    background-color: #61dafb !important; }
